html, body{
	margin: 10px;
	font-size: 50px;	
	line-height: 1em;
}
header{
	height: 50px;
}
#cursor {
	animation: blinker 1s step-end infinite; 
	/*you can change 'step-end' to 'linear' for smooth transition*/
}
@keyframes blinker {  
	50% { opacity: 0; }
}


#container {
	width: 100vw;
	margin: 10px 0 0 10px;	
	word-wrap: break-word;



}
#results{
	display:flex;
	flex-wrap: wrap;
}

