
html, body{
	margin: 0;
	font-size: 50px;	
	line-height: 1em;
}

#cursor {
	animation: blinker 1s step-end infinite; 
	/*you can change 'step-end' to 'linear' for smooth transition*/
}
@keyframes blinker {  
	50% { opacity: 0; }
}


#container {
	width: 100vw;	
	word-wrap: break-word;
	text-align:center;

}

#result {
	text-align:center;
}
.inner {
  /*display:block;*/
}
